
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background:#000000;
}
.navbar-header {
    background:transparent;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom:60px;
    background-color:  #B7B7B7; /*ccff99; */
    font-family: monospace;

}
.btn {
  margin: 20px;
}

  .footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color:  #CCCCCC;    /*#12de1f; */
}

.footer p {
  margin-top: 25px;
  font-size: 15px;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
